main {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    width: 80vw;
    opacity: 1;
    animation: fadeIn 4s ease-in-out;
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px solid #ae0eae;
}

.content {
    position: relative;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
