---
import Index from "../components/Index.svelte";
import { ClientRouter } from "astro:transitions";
import Logo from "../components/Logo.svelte";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Centro VR líder en Barcelona." />
		<meta name="keywords" content="VR, AR, XR, Barcelona, ResetXR" />
		<meta name="author" content="ResetXR" />
		<meta name="theme-color" content="#000" />
		<link rel="icon" type="image/svg+xml" href="/icon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>ResetXR - Centro VR líder en Barcelona.</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global lang="scss">
	@font-face {
		font-family: "Conthrax";
		src: url("/conthrax.otf") format("opentype");
	}

	html,
	body {
		margin: 0;
		padding: 0;
		font-family: "Conthrax", sans-serif;
		background-color: #000;
		color: #fff;
		scroll-behavior: smooth;
	}

	section {
		padding: 2vh;
		overflow: hidden;
		position: relative;
	}

	button {
		background-color: transparent;
		border: 2px solid #fff;
		backdrop-filter: blur(5px);
		color: #fff;
		font-size: 1.5rem;
		border-radius: 5px;
		padding: 0.5rem 1rem;
		cursor: pointer;
		color: whitesmoke;
	}

	@media (prefers-reduced-motion: reduce) {
    	:global(html) {
      		scroll-behavior: auto;
    	}
	}
</style>

<ClientRouter />